html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* A editer */
/* Tickets */
body {
    font-family: 'Open Sans', serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 5em;
}

h1 {
    font-size: 48px;
    position: relative;
    left: 25%;
    width: 75%;
}

header {

}

header, footer {
    background-color: grey;
}

footer {
    min-width: 100%;
    min-height: 5em;
    position: absolute;
    bottom: 0;
}

a.lachat {
    text-decoration: none;
    color: black;
    display: block;
    margin: 1em 20%;
    height: 20%;
}

div.ticket {
    border: 1px #e8e8e8 solid;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px #606060;
    background-color: #e8e8e8;
    padding: 1.5em;
    height: 60%;
}
div.ticket:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 20px 5px #606060;
}
div.ticket h2.title {
    font-size: 30px;
}
div.ticket h2.title + span.date{
    font-size: 20px;
    padding:0 .2em;
}
div.ticket h2.title,
div.ticket h2.title + span.date {
    display: inline;
}

div.ticket p {

}

div.ticket .prix {
    float: right;
    font-size: 20px;
}
